body {
	background-image: url(ddd.jpg);
    background-size: cover;
}

#data {
    width: 350px;
	height: 220px;
    font-size: 20px;
    text-align: center;
    margin: 10px auto;
    margin-top: 10px;
    padding: 10px;
	border-radius: 10px;
	border-style: outset;
	background-color:#E6E6FA;
	color: #663399;
}

#counter {
    width: 300px;
    height: 150px;
    margin: 150 auto;
    margin-top: 20px;
	margin-bottom: 0px;
	background-color:#E6E6FA;
	padding :60px;
	padding-bottom:120px;
	border-radius: 10px;
	border-style: outset;
}

.btn{
	background-color:#778899;
	outline: none;
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:10px;
	margin-left:20px;
	border-radius:5px;
	cursor:pointer;
	position:relative;
	color: #E0FFFF
}

.tex{
	color: #663399;
	width: 100px;
	margin-left:0px;
	text-align: center;
	letter-spacing: 3px;
	font-size: 25px;
	font-family: "Sofia";
}

.ind{
	text-align: center;
	padding: 10px 5px;
	margin: 8px 0px;
	border: none;
	border-bottom: 5px solid #C0C0C0;
	background-color: #778899;
	width: 100%;
	font-size: 25px;
	border-radius:5px;
	font-family: "Sofia";
		color: #E0FFFF;

}

.eur{
	text-align: center;
	padding: 10px 5px;
	margin: 8px 0px;
	border: none;
	border-bottom: 5px solid #C0C0C0;
	background-color: #778899;
	width: 70%;
	font-size: 15px;
	border-radius:5px;
	font-family: "Sofia";
	color: #E0FFFF
}
.gbp{
	text-align: center;
	padding: 10px 5px;
	margin: 8px 0px;
	border: none;
	border-bottom: 5px solid #C0C0C0;
	background-color: #778899;
	width: 70%;
	font-size: 15px;
	border-radius:5px;
	font-family: "Sofia";
	color: #E0FFFF
}
.usd{
	text-align: center;
	padding: 10px 5px;
	margin: 8px 0px;
	border: none;
	border-bottom: 5px solid #C0C0C0;
	background-color: #778899;
	width: 70%;
	font-size: 15px;
	border-radius:5px;
	font-family: "Sofia";
	color: #E0FFFF
}
.con{
	text-align: center;
	padding: 10px 0px;
	margin: 1px 0px;
	border: none;
	border-bottom: 5px solid #C0C0C0;
	background-color: #778899;
	width: 50%;
	font-size: 15px;
	border-radius:5px;
	font-family: "Sofia";
	color: #E0FFFF
	
}